<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY67prxvgTNRCOtNhbzJZ09YwsvlTtmI4</string>
	<key>GCM_SENDER_ID</key>
	<string>450660441827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicdamun.weniaTest</string>
	<key>PROJECT_ID</key>
	<string>wenia-7f5d8</string>
	<key>STORAGE_BUCKET</key>
	<string>wenia-7f5d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450660441827:ios:b2f4098e0772e17a2a2fd6</string>
</dict>
</plist>